.app {
    color: #353C4E;
    background: #F0F2F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.header {
    background: white;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
}

.header > div > img {
    height: 1.75rem;
}

.header > div > span {
    vertical-align: super;
    padding-left: 0.5rem;
}

.page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.page-scroll {
    justify-content: flex-start;
    overflow-y: auto;
}

.gap {
    gap: 10px;
}

.footer {
    background: white;
    height: 5vh;
    text-align: center;
}

.mainButton {
    background-color:#44c767;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial sans-serif;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;
}
.mainButton:hover {
    background-color:#5cbf2a;
}
.mainButton:active {
    position:relative;
    top:1px;
}
.mainButton-small {
    font-size:14px;
    padding:8px 15px;
}

.UserItem__wrapper {
    background: white;
    max-width: 700px;
    width: 90%;
    min-width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.UserItem__body {
    display: flex;
}

.UserItem__avatar {
    width: 50%;
    max-width: 300px;
    height: auto;
    max-height: 300px;
    border-radius: 10px;
    object-fit: contain;
}

.UserItem__infoBlock {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.chipContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.chip {
    display: inline-block;
    padding: 0 15px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 15px;
    background-color: #f1f1f1;
}